version: '3.8'

services:
  dockge-gitops:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    container_name: dockge-gitops
    restart: unless-stopped
    environment:
      - REPO_URL=<repo-url>
      - PAT=<pat-for-private-repo>
      - POLLING_RATE=30s
      - DOCKGE_STACKS_DIR=/opt/stacks
    volumes:
      - /opt/stacks:/opt/stacks
      - /opt/env:/env

  dockge:
    image: louislam/dockge:1
    container_name: dockge
    restart: unless-stopped
    ports:
      - 5001:5001
    environment:
      - DOCKGE_STACKS_DIR=/opt/stacks
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .data:/app/data
      - /opt/stacks:/opt/stacks