version: '3.8'

services:
  dockge-gitops:
    build: ../
    container_name: dockge-gitops
    restart: unless-stopped
    environment:
      - REPO_URL=<repo-url>
      - PAT=<pat-for-private-repo>
      - POLLING_RATE=1m